body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode{
  background-color: black;
}

.dark-mode h1, .dark-mode p{
  color: white;
} 

.dark-mode .song, .dark-mode .button-mode{
  color:white;
  background-color: rgb(78, 78, 78);
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}


.filter-column1 {
  float: left;
  width: 40%;
}

.filter-column2 {
  float: left;
  width: 30%;
}

.filter-column1 p, .filter-column2 p {
  margin-top: 0;
  margin-bottom: 5px;
}

.filter-row {
  display: flex;
}

.filter-row:after {
  content: "";
  display: table;
  clear: both;
}

.dropdown{
  margin-bottom: 1rem;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.song-list{
  display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.song {
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  padding: 1rem;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.song-footer {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-between;
}

.song-header {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-between;
}

.song-header b:hover{
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.button-mode {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.image-box {
  width: 700px;
  height: auto;
}

.button-mode:hover {
  background-color: rgb(180, 180, 180);
}

.search-input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%; 
}

.search-input:focus{
  outline: none;
}

.popup {
  position:fixed;
  overflow: scroll;
  width: 100vw;
  top: 0;
  height: 100%;
  left: 0;
}

.image-box {
  position:relative;
  margin:auto;
  width: 100%;
  height:fit-content;
}

.popup-inner {
  position: relative;
  top: 0;
  margin: auto;
  left: auto;
  right: auto;
  width: 50%;
  flex-direction: column;
  align-content: center;
}

.popup-inner .close-popup {
  position: fixed;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  top:0;
  right: 26%;
}

.popup-inner .close-popup:hover{
  opacity: 0.7;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .header h1 {
    font-size: 175%;
  }

  .filter-row{
    display: flex;
    flex-direction: column;
  }
  .search {
    margin-bottom: 1em;
  }

  .filter-column1, .filter-column2 {
    width: 100vw;
  }

  .popup-inner {
    width: 65%;
  }
  
  .popup-inner .close-popup {
    right: 20%;
  }
}


@media only screen and (max-width: 560px) {
  .song-header {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-between;
  }

  .popup-inner {
    width: 100%;
  }
  .popup-inner .close-popup {
    right: 10px;
  }
}

